In [1]:
ls

 Volume in drive C is Windows-SSD
 Volume Serial Number is D46A-F020

 Directory of C:\myprojects

12/08/2023  22:02    <DIR>          .
12/08/2023  21:59    <DIR>          .ipynb_checkpoints
09/08/2023  06:24           223,981 Data Analysis Day 3.ipynb
09/08/2023  06:23           201,614 Data Analytics Day 4 Practice Class.ipynb
12/08/2023  22:02            60,138 HRData-DataCleaning.xlsx
06/08/2023  22:39           514,048 titanic3.xls
12/08/2023  22:02               589 Untitled.ipynb
               5 File(s)      1,000,370 bytes
               2 Dir(s)  417,933,623,296 bytes free

In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [5]:
df=pd.read_excel('HRData-DataCleaning.xlsx')

In [6]:
df.head()

   0              Name  Gender   Department     Salary Location     Rating
0  1      Ches Bonnell    Male        Sales   $88,050     Lagos  Very Good
1  2  Garwin Peasegood  Female  Engineering   $68,220     Lagos       Good
2  3   Sidoney Yitzhok  Female          NaN  $118,440     Abuja  Not Rated
3  4  Saunders Blumson     NaN        Legal   $56,370    Kaduna  Very Good
4  5    Gardy Grigorey  Female      Support  $107,090    Kaduna       Poor